//#include <dt-bindings/zmk/mouse.h>

#include <behaviors/rgbled_widget.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define MOUSE    1
#define LOWER    2
#define RAISE    3
#define ADJUST   4
#define SCROLL   2

// スクロール量の設定

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&trackball_listener {
    // 通常ポインタ

    input-processors = <
                         &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT)
                         // &zip_temp_layer MOUSE 500 //AMLの設定の名残
    >;

    // 低感度レイヤー

    precision {
        layers = <RAISE>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT)
            &zip_xy_scaler 1 2
        >;
    };

    // スクロール

    scroller {
        layers = <SCROLL>;
        input-processors = <
                            &zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT)
                            &zip_xy_scaler 1 20
                            &zip_xy_to_scroll_mapper
        >;
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };

        quad_layer {
            if-layers = <1 2 3>;
            then-layer = <4>;
        };
    };
};

/ {
    behaviors {
        // スクロール用のbehaviorの設定

        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>; // スクロールのタップ時間
        };

        // Customed Hold-Tap for SandS

        LR_shift: LR_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_SHIFT>, <&kp RIGHT_SHIFT>;
        };
    };
};

// &sl { release-after-ms = <250>; }; // time needed for double click (for mkp_exit_AML) 

/ {
};

/ {
    combos {
        compatible = "zmk,combos";

        Caret_combo {
            bindings = <&kp EQUAL>;
            key-positions = <14 15>;
            layers = <0>;
        };

        YEN_combo {
            bindings = <&kp INTERNATIONAL_3>;
            key-positions = <30 31>;
            layers = <0>;
        };

        NumLock {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <9 57>;
        };

        NumLock2 {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <60 6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                    &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                         &kp NUMBER_6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB         &kp Q   &kp W   &kp E     &kp R         &kp T                     &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                       &kp Y         &kp U   &kp I      &kp O    &kp P     &kp LBKT
&mo 2           &kp A   &kp S   &kp D     &kp F         &kp G      &kp INS        &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp RIGHT_BRACKET  &kp H         &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C     &kp V         &kp B      &kp DELETE     &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp BACKSLASH      &kp N         &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp INTERNATIONAL_1
&kp LCTRL       &none           &kp LWIN  &kp LEFT_ALT  &kp SPACE  &lt 1 ENTER                                                            &kp BACKSPACE      &kp ENTER                                           &kp RIGHT_SHIFT
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5            &trans  &trans  &trans  &trans            &kp F6  &kp F7     &kp F8    &kp F9     &kp F10  &kp F11
&trans     &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans            &trans  &trans     &trans    &trans     &trans   &kp F12
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &mkp LCLK  &kp UP    &mkp RCLK  &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans   &trans
&trans     &none           &trans  &trans  &trans  &trans                                      &trans  &trans                                           &trans
            >;
        };

        lower_layer {
            display-name = "Lower";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5            &trans  &trans  &trans  &trans            &kp F6  &kp F7    &kp F8         &kp F9   &kp F10  &kp F11
&trans     &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans            &trans  &trans    &trans         &trans   &trans   &kp F12
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &trans    &kp PAGE_UP    &trans   &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &kp HOME  &kp PAGE_DOWN  &kp END  &trans   &trans
&trans     &trans          &trans  &trans  &trans  &trans                                      &trans  &trans                                             &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5            &trans  &trans  &trans  &trans            &kp F6  &kp F7     &kp F8    &kp F9     &kp F10  &kp F11
&trans     &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans            &trans  &trans     &trans    &trans     &trans   &kp F12
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &mkp LCLK  &kp UP    &mkp RCLK  &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans  &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans   &trans
&trans     &none           &trans  &trans  &trans  &trans                                      &trans  &trans                                           &trans
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4           &none  &none  &none  &none           &bt BT_CLR_ALL  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none                  &none  &none  &none  &none           &bt BT_CLR      &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &none    &none  &none  &none  &none    &none  &out OUT_TOG    &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &none    &none  &none  &none  &none    &none  &studio_unlock  &none  &none  &none  &none  &none
&none  &none                       &none         &none         &none         &none                                  &none  &none                                       &trans
            >;
        };

        // Extra layer can be added in ZMK STUDIO

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };
    };
};
